# Python для анализа данных

*Татьяна Рогович, НИУ ВШЭ*

## Бонусное задание 2

Для получения зачета по этому заданию - нужно выполнить правильно минимум 6 из 9 заданий.

In [1]:
import pandas as pd

%matplotlib inline

Будем работать с датасетом Pima Indian Diabetes - это набор данных из Национального института диабета, болезней органов пищеварения и почек. Целью набора данных является диагностическое прогнозирование наличия диабета у пациента. Несколько ограничений были наложены на выбор этих экземпляров из большой базы данных. В частности, все пациенты здесь - женщины в возрасте от 21 года, индийского происхождения.

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/rogovich/Data/master/data/pima-indians-diabetes.csv')
data.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0
6,3,78.0,50.0,32.0,88.0,31.0,0.248,26,1
7,10,115.0,NaN,NaN,NaN,35.3,0.134,29,0
8,2,197.0,70.0,45.0,543.0,30.5,0.158,53,1
9,8,125.0,96.0,NaN,NaN,NaN,0.232,54,1

Описание данных:

- __Pregnancies__ - данная единица отображает количество беременностей, единицы измерения - целые числа от 0 до N. Тип переменной - количественная, дискретная.
- __Glucose__ - данная единица отображает уровень глюкозы в крови, единицы измерения - целые числа. Тип переменной - количественная, дискретная.
- __BloodPressure__ - данная единица отображает артериальное давление, единицы измерения - миллиметры р/с, целые числа. Тип переменной - количественная, дискретная.
- __SkinThickness__ - данная единица отображает обхват трицепса в миллиметрах, целые числа. Тип переменной - количественная, дискретная.
- __Insulin__ - данная единица отображает уровень инсулина в крови, целые числа. Тип переменной - количественная, дискретная.
- __BMI__ - данная единица отображает индекс массы тела. Тип переменной - количественная, непрерывная.
- __DiabetesPedigreeFunction__ - данная единица отображает риск наследственного диабета в зависимости наличия диабета у родственников. Выражается десятичной дробью от 0 до 1. Тип переменной - количественная, непрерывная.
- __Age__ - данная единица отражает возраст в целых числах. Тип переменной - количественная, дискретная.
- __Class__ - данная единица отражает наличие диабета у субъекта, выражена 0(здоров) или 1(болен). Тип переменной - категориальная, бинарная.

__Задание 1.__

Как вы видите, в данных много пропусков (NaN). Любым способом посчитайте количество пропусков в каждом из столбцов (но мы должны видеть как вы это делали). 

Для тех переменных, в которых есть пропуски, выведите количество пропущенных значений в следующем формате:

"В переменной {название переменной} {количество} пропущенных значений"

In [11]:
# ( ͡° ͜ʖ ͡°)づ ━━ ✫・*。
# засчитывается вывод не по формату
for i in range(len(data.isnull().sum(axis = 0))):
    if data.isnull().sum(axis = 0)[i] > 0:
        print(f'В переменной {data.isnull().sum(axis = 0).index[i]} {data.isnull().sum(axis = 0)[i]} пропущенных значений.')

В переменной Glucose 5 пропущенных значений.
В переменной BloodPressure 35 пропущенных значений.
В переменной SkinThickness 227 пропущенных значений.
В переменной Insulin 374 пропущенных значений.
В переменной BMI 11 пропущенных значений.

__Задание 2.__

Замените в данных все пропуски дискретных признаков соответствующими медианами, непрерывных признаков - средними значениями. Перезапишите колонки (тип колонки обозначен в легенде).

In [12]:
# ( ͡° ͜ʖ ͡°)づ ━━ ✫・*。
data[['Glucose','BloodPressure','SkinThickness','Insulin']]=data[['Glucose','BloodPressure','SkinThickness','Insulin']].fillna(data[['Glucose','BloodPressure','SkinThickness','Insulin']].median())
data['BMI']=data['BMI'].fillna(data['BMI'].mean())

In [13]:
data.isnull().sum(axis = 0)

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Class                       0
dtype: int64

__Задание 3.__

У скольких женщин старше 50 лет обнаружен диабет? Выведите одно число.

In [14]:
# ( ͡° ͜ʖ ͡°)づ ━━ ✫・*。
sum((data.Age > 50) & (data.Class == 1))

38

__Задание 4.__

Найдите трех женщин с наибольшими числом беременностей. Выведите три строчки из таблицы.

In [15]:
# ( ͡° ͜ʖ ͡°)づ ━━ ✫・*。
data.sort_values(['Pregnancies'], ascending = False).head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
159,17,163.0,72.0,41.0,114.0,40.9,0.817,47,1
88,15,136.0,70.0,32.0,110.0,37.1,0.153,43,1
298,14,100.0,78.0,25.0,184.0,36.6,0.412,46,1

__Задание 5.__

Сколько женщин были беременны 3 и более раз до 30 лет? Выведите одно число.

In [16]:
# ( ͡° ͜ʖ ͡°)づ ━━ ✫・*。
sum((data['Pregnancies'] > 3) & (data['Pregnancies'] < 30))

344

__Задание 6.__

Нормальным кровяным давлением будем считать давление в диапазоне [80-89]. У какого процента женщин давление нормальное? Выведите одно число.

In [17]:
# ( ͡° ͜ʖ ͡°)づ ━━ ✫・*。
norm_press = sum((data['BloodPressure'] >= 80) & (data['BloodPressure'] <= 89))
round(norm_press/len(data), 2)*100

19.0

__Задание 7.__

Добавьте новый бинарный признак:

__wasPregnant__ $\in$ {0,1} - была женщина беременна (1) или нет (0)

Выведите среднее новой переменной (mean).

In [20]:
# ( ͡° ͜ʖ ͡°)づ ━━ ✫・*。
data['wasPregnant'] = (data.Pregnancies > 0)*1
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class,wasPregnant
0,6,148.0,72.0,35.0,125.0,33.6,0.627,50,1,1
1,1,85.0,66.0,29.0,125.0,26.6,0.351,31,0,1
2,8,183.0,64.0,29.0,125.0,23.3,0.672,32,1,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0,1
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1,0

__Задание 8.__

Посчитайте процент больных диабетом среди женщин, которые были беременны и не были. Выведите два числа с подписями (например, "Процент больных диабетов, среди женщин, которые не были беременны: ").

In [30]:
# ( ͡° ͜ʖ ͡°)づ ━━ ✫・*。
# Засчитываем с выводом не по формату
preg = round(data[data['wasPregnant'] == 0]['Class'].mean()*100,2)
not_preg = round(data[data['wasPregnant'] == 1]['Class'].mean()*100,2)
print(f'Процент больных диабетов, среди женщин, которые не были беременны: {not_preg}%')
print(f'Процент больных диабетов, среди женщин, которые были беременны: {preg}%')

Процент больных диабетов, среди женщин, которые не были беременны: 35.01%
Процент больных диабетов, среди женщин, которые были беременны: 34.23%

__Задание 9.__

Добавьте новый категориальный признак __bodyType__ на основе столбца BMI:

__BMI Categories:__ 

Underweight = <18.5

Normal weight = 18.5–24.9 

Overweight = 25–29.9 

Obesity = BMI of 30 or greater

Признак должен принимать значения Underweight, Normal weight, Overweight и Obesity. 

Выведите частотную таблицу для категорий этого признака (value_counts)

In [31]:
# ( ͡° ͜ʖ ͡°)づ ━━ ✫・*。
def weight_labeler(x):
    if x < 18.5:
        return 'Underweight'
    if (x >= 18.5) & (x <= 24.9):
        return 'Normal weight' 
    if (x >= 25) & (x <= 29.9):
        return 'Overweight'
    if (x >= 30):
        return 'Obesity'
data['bodyType'] = data.BMI.apply(lambda x: weight_labeler(x))

In [33]:
data['bodyType'].value_counts()

Obesity          483
Overweight       179
Normal weight    102
Underweight        4
Name: bodyType, dtype: int64